name: CI

on: 
  push:
    branches: 
      - main
  pull_request:
    branches: 
      - '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  iOS:
    runs-on: macos-26
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v3
    - uses: maxim-lobanov/setup-xcode@v1.6.0
      with:
        xcode-version: '26.2'
    - name: Build and test
      run: make test-ios
  iPadOS:
    runs-on: macos-26
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v3
    - uses: maxim-lobanov/setup-xcode@v1.6.0
      with:
        xcode-version: '26.2'
    - name: Build and test
      run: make test-ipados
